---
- name: Netbox to Zabbix Migration
  hosts: localhost
  gather_facts: no
  vars:
    # Netbox credentials (required)
    _netbox_url: "{{ netbox_url | default('') }}"
    _netbox_token: "{{ netbox_token | default('') }}"
    _netbox_verify_ssl: "{{ netbox_verify_ssl | default(false) }}"
    
    # Zabbix credentials (required)
    _zabbix_url: "{{ zabbix_url | default('') }}"
    _zabbix_user: "{{ zabbix_user | default('') }}"
    _zabbix_password: "{{ zabbix_password | default('') }}"
    _zabbix_validate_certs: "{{ zabbix_validate_certs | default(false) }}"
    
    # Optional: Limit number of devices to process
    _device_limit: "{{ device_limit | default(0) | int }}"
    
    # Optional: Site filter
    _site_filter: "{{ site_filter | default('') }}"
    
    # Optional: Manufacturer filter
    _manufacturer_filter: "{{ manufacturer_filter | default('') }}"
  
  pre_tasks:
    - name: Validate netbox_url
      fail:
        msg: "netbox_url is required"
      when: _netbox_url | length == 0
    
    - name: Validate netbox_token
      fail:
        msg: "netbox_token is required"
      when: _netbox_token | length == 0
    
    - name: Validate zabbix_url
      fail:
        msg: "zabbix_url is required"
      when: _zabbix_url | length == 0
    
    - name: Validate zabbix_user
      fail:
        msg: "zabbix_user is required"
      when: _zabbix_user | length == 0
    
    - name: Validate zabbix_password
      fail:
        msg: "zabbix_password is required"
      when: _zabbix_password | length == 0
  
  roles:
    - role: netbox_to_zabbix
      vars:
        netbox_url: "{{ _netbox_url }}"
        netbox_token: "{{ _netbox_token }}"
        netbox_verify_ssl: "{{ _netbox_verify_ssl }}"
        zabbix_url: "{{ _zabbix_url }}"
        zabbix_user: "{{ _zabbix_user }}"
        zabbix_password: "{{ _zabbix_password }}"
        zabbix_validate_certs: "{{ _zabbix_validate_certs }}"
        device_limit: "{{ _device_limit }}"
        site_filter: "{{ _site_filter if _site_filter != '' else omit }}"
        manufacturer_filter: "{{ _manufacturer_filter if _manufacturer_filter != '' else omit }}"
        # device_role_filter will use role default if not provided via extra-vars
